<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitterTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="rolling.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
      <!-- LEVELS: OFF FATAL ERROR WARN INFO DEBUG ALL - probably want WARN AS DEFAULT-->
    </root>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <TwitterTest.Properties.Settings>
            <setting name="twitterConsumerKey" serializeAs="String">
                <value>jGi3Wy7s2S3tDNSc9cbZgBYn7</value>
            </setting>
            <setting name="twitterConsumerSecret" serializeAs="String">
                <value>aAxmUZgv74ka7J3xwdAkpfaharDIosD0RDokeVrzfYpE2nsFAy</value>
            </setting>
            <setting name="twitterAccessToken" serializeAs="String">
                <value>1410626749960970246-bhHh0dVYmy0tilZEzCI8DTuBR9WGyW</value>
            </setting>
            <setting name="twitterAccessTokenSecret" serializeAs="String">
                <value>ePOSVhjY4kIqX1Uh7CsWhbaKpQ3pxtBtd3opOtwTCzzYr</value>
            </setting>
            <setting name="onlyEnglish" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="taskCount" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="outputToFile" serializeAs="String">
                <value>False</value>
            </setting>
        </TwitterTest.Properties.Settings>
    </applicationSettings>
</configuration>
